body > table{
    width: 80%;
    margin: 40px auto;
    background-color: #918285;
}
table{
    border-collapse: collapse;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    width: 100%;
}



table #leftSec
{
width: 50%;
min-width: 300px;
}


table #rightSec
{
width: 50%;
}

table.list{
    width: 100%;
}
td, th{
    border: 2px solid #ddd;
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even),table.list thead>tr{
    background-color: #ddd;
}
input[type="text"], input[type="number"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
}
input[type="submit"],input[type="reset"]{
    background: #eee;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin: 15px 0 10px;
    outline: none;
}
input[type="submit"]:hover{
    background: #f3f3f3;
}